In [15]:
import pandas as pd
import numpy as np
df=pd.read_csv("duplicated.csv")
print(df)

   id   name  age  marks    city
0   2  ansar   21    100    pune
1   1  naved   22    200  saswad
2   2   ashu   22    200    pune
3   3  suraj   20    110   akluj

In [2]:
df.duplicated()

0    False
1    False
2    False
3    False
dtype: bool

In [3]:
df["id"].duplicated()

0    False
1    False
2     True
3    False
Name: id, dtype: bool

In [4]:
df["id"].duplicated().sum()

np.int64(1)

In [11]:
df.drop_duplicates("id")

   id   name  age  marks    city
0   2  ansar   21    100    pune
1   1  naved   22    200  saswad
3   3  suraj   20    110   akluj

AxisError: axis 1 is out of bounds for array of dimension 0