In [1]:
import pandas as pd 
import numpy as np

In [4]:
data1={"name":["ansar","ashu","suraj","vishal"],
    "id":[1,2,3,4],"age":[20,22,30,12]}
data2={"id":[1,2,3,4],"salary":[10000,20000,30000,40000]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print()
print(df2)

     name  id  age
0   ansar   1   20
1    ashu   2   22
2   suraj   3   30
3  vishal   4   12

   id  salary
0   1   10000
1   2   20000
2   3   30000
3   4   40000

In [5]:
#two combine it use merge function 
merge=pd.merge(left=df1,right=df2,on="id",how="inner")  # inner join by default happen on the basis of id having same col name and common in both 
print(merge)

     name  id  age  salary
0   ansar   1   20   10000
1    ashu   2   22   20000
2   suraj   3   30   30000
3  vishal   4   12   40000

In [7]:
data1={"name":["ansar","ashu","suraj","vishal"],
    "id":[1,6,3,9],"age":[20,22,30,12]}
data2={"id":[1,2,3,7],"salary":[10000,20000,30000,40000]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [8]:
merge2=pd.merge(left=df1,right=df2,on="id",how="left") # left side dataset because of how="left" on the basis of id having common cols in both
print(merge2)

     name  id  age   salary
0   ansar   1   20  10000.0
1    ashu   6   22      NaN
2   suraj   3   30  30000.0
3  vishal   9   12      NaN

In [10]:
data1={"name":["ansar","ashu","suraj","vishal"],
        "id":[1,6,3,9],"age":[20,22,30,12]}
data2={"id":[1,2,3,7],"salary":[10000,20000,30000,40000]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
merge3=pd.merge(df1,df2, on="id",how="right")
print(merge3)

    name  id   age  salary
0  ansar   1  20.0   10000
1    NaN   2   NaN   20000
2  suraj   3  30.0   30000
3    NaN   7   NaN   40000