In [4]:
import pandas as pd
data1={"key":["k1","k2","k3"],"name":["ansar","ashu","suraj"],"age":[20,22,21],"saraly":[1000,2000,3000]}
df=pd.DataFrame(data1)
print(df)

  key   name  age  saraly
0  k1  ansar   20    1000
1  k2   ashu   22    2000
2  k3  suraj   21    3000

In [11]:
pivot=df.pivot(index="key",columns="age",values=["name","saraly"])
print(pivot)

      name              saraly
age     20     21    22     20    21    22
key
k1   ansar    NaN   NaN   1000   NaN   NaN
k2     NaN    NaN  ashu    NaN   NaN  2000
k3     NaN  suraj   NaN    NaN  3000   NaN